@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cabin&family=Roboto&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body, html {
  margin: 0;
  background-color: #212121;
  /*overflow: hidden;*/
}

.nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #212121;
    padding: 20px 0;
    z-index: 3;
    font-family: 'Source Code Pro', monospace;
}

#head {
  position: relative;
  background-color: #d45757;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  margin-bottom: 5px;
  z-index: 2;
}

.headtext {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  font-size: 50px;
  font-family: 'Commissioner', sans-serif;
  color: rgb(0, 0, 0);
  text-shadow: 0 0 20px rgb(255, 255, 255);
  z-index: 2;
  transition-duration: 2s;
}

.subheadtext {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Commissioner', sans-serif;
  color: rgb(255, 255, 255);
  z-index: 2;
}

.footer {
  background-color: rgb(39, 39, 39);
  position: absolute;
  margin-bottom: 0;
  width: 100%;
}

#top {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#navbar1 {
  color: white;
  margin: 20px;
}

.cred {
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    text-align: center;
}

#about{
    display: flex;
    background-color: rgb(255, 196, 0);
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
}

.aboutimage {
    flex: 1;
    position: relative;
    width: 360px;
    height: 480px;
    top: 15%;
    left: 5%;

}

.abouttextall {
    flex: 5;
    margin-left: 10%;
    margin-top: 15%;
}

.aboutheading {
  font-family: 'Commissioner', sans-serif;
  animation-name: colorchange;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes colorchange {
  0% {color: black;}
  25% {color: rgb(161, 26, 26);}
  50% {color: rgb(95, 145, 15);}
  75% {color: rgb(12, 12, 134);}
  100% {color: black;}
}

.abouttext {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}
