@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cabin&family=Roboto&family=Source+Code+Pro&display=swap');

html,body {
    background-color: black;
}

#header {
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Source Code Pro', monospace;
}

.Andre, .Benjamin, .Rick {
    text-align: center;
    color: white;
    font-family: 'Commissioner', sans-serif;
    transition: all 0.5s;
}

.Andre:hover {
    color: aqua;
    font-size: 40px;
}

.Benjamin:hover {
    color: yellow;
    font-size: 40px;
}

.Rick:hover {
    color: red;
    font-size: 40px;
}
